[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=personalringtones
Exec=personalringtones
Name=Personal Ringtones
X-MeeGo-Logical-Id=Personal Ringtones
X-MeeGo-Translation-Catalog=/usr/share/personalringtones/translations/personalringtones

